{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "importSource": "@emotion/react",
        "throwIfNamespace": false
      }
    ]
  ],
  "plugins": ["@emotion/babel-plugin"]
}
