html,
body,
#root {
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 1;
}
.navbar .navbar-logo {
  width: auto;
  height: 70%;
}

.navbar .navbar-logo img {
  width: auto;
  height: 100%;
}
