.game-table th,
.game-table td {
  padding-left: 4px;
  padding-right: 4px;
}

.game-table tr.status-notStarted {
  opacity: 0.5;
}
.game-table tr.status-inProgress,
.game-table td.current-user {
  background: rgba(255, 255, 255, 0.05);
}
.chakra-ui-light .game-table tr.status-inProgress,
.chakra-ui-light .game-table td.current-user {
  background: rgba(0, 0, 0, 0.03);
}

.spin-infinite {
  animation: spin 4s ease infinite;
  animation-delay: 1s;
}

@keyframes spin {
  0% {
    transform: rotate(-180deg);
  }
  25% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Current Card Display */
.current-card-container {
  width: 100%;
  position: relative;
  max-width: 310px;
}

.current-card {
  position: absolute;
  width: 100%;
  opacity: 0;
  margin-top: 0;
  margin-bottom: 5px;
  transition: opacity ease-in-out 2s;
}
.current-card.active {
  opacity: 1;
}
